<!DOCTYPE html>
<html>
  <head>
  <title>Alando Appling // Developer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header id="main_navigation" class="clearfix">
    <a href="#" class="name">Alando Appling</a>
    <nav>
        <%= link_to "Articles", posts_path %>
        <a href="#">Projects</a>
        <a href="#">Contact</a>
    </nav>
    </header>

    <%= yield %>
  </body>
</html>
